<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.triviahq_app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".SuperHeroes.Other.OtherFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.Other.OtherQuestions">
        </activity>
        <activity android:name=".SuperHeroes.Marvel.MarvelFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.Marvel.MarvelQuestions">
        </activity>
        <activity android:name=".SuperHeroes.DC.DCFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.DC.DCQuestions">
        </activity>
        <activity android:name=".SuperHeroes.SuperHeroesSubcategory">
        </activity>
        <activity android:name=".Animals.Dogs.DogFinalPage">
        </activity>
        <activity
                android:name=".MenuScreen"
                android:label="Trivia HQ"
                tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="Trivia HQ Homepage">
        </activity>
        <activity android:name=".Animals.AnimalSubcategory">
        </activity>
        <activity android:name=".Animals.Dogs.DogQuestions">
        </activity>
    </application>

</manifest>