<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.triviahq_app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!--superheroes category -->
        <activity android:name=".SuperHeroes.SuperHeroesSubcategory">
        </activity>

        <!--superheroes subcategories-->
        <activity android:name=".SuperHeroes.Other.OtherFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.Other.OtherQuestions">
        </activity>
        <activity android:name=".SuperHeroes.Marvel.MarvelFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.Marvel.MarvelQuestions">
        </activity>
        <activity android:name=".SuperHeroes.DC.DCFinalPage">
        </activity>
        <activity android:name=".SuperHeroes.DC.DCQuestions">
        </activity>

        <!--animals category-->
        <activity android:name=".Animals.AnimalSubcategory">
        </activity>

        <!--animals subcategories-->
        <activity android:name=".Animals.Dogs.DogFinalPage">
        </activity>
        <activity android:name=".Animals.Dogs.DogQuestions">
        </activity>
        <activity android:name=".Animals.Cats.CatsQuestions">
        </activity>
        <activity android:name=".Animals.Cats.CatsFinalPage">
        </activity>
        <activity android:name=".Animals.Birds.BirdQuestions">
        </activity>
        <activity android:name=".Animals.Birds.BirdFinalPage">
        </activity>
        <activity android:name=".Animals.Reptile.ReptileQuestions">
        </activity>
        <activity android:name=".Animals.Reptile.ReptileFinalPage">
        </activity>

        <!--mythology category-->
        <activity android:name=".Mythology.MythologySubcategory">
        </activity>

        <!--mythology subcategories-->
        <activity android:name=".Mythology.Abrahamic.AbrahamicFinalPage">
        </activity>
        <activity android:name=".Mythology.Abrahamic.AbrahamicQuestions">
        </activity>
        <activity android:name=".Mythology.Celtic.CelticFinalPage">
        </activity>
        <activity android:name=".Mythology.Celtic.CelticQuestions">
        </activity>
        <activity android:name=".Mythology.Greek_Roman.Greek_RomanFinalPage">
        </activity>
        <activity android:name=".Mythology.Greek_Roman.Greek_RomanQuestions">
        </activity>
        <activity android:name=".Mythology.Norse.NorseFinalPage">
        </activity>
        <activity android:name=".Mythology.Norse.NorseQuestions">
        </activity>

        <!--history category-->
        <activity android:name=".History.HistorySubcategory">
        </activity>

        <!--history subcategories-->
        <activity android:name=".History.Ancient.AncientFinalPage">
        </activity>
        <activity android:name=".History.Ancient.AncientQuestions">
        </activity>
        <activity android:name=".History.ColonialAmerica.ColonialAmericaFinalPage">
        </activity>
        <activity android:name=".History.ColonialAmerica.ColonialAmericaQuestions">
        </activity>
        <activity android:name=".History.Modern.ModernFinalPage">
        </activity>
        <activity android:name=".History.Modern.ModernQuestions">
        </activity>
        <activity android:name=".History.Renaissance.RenaissanceFinalPage">
        </activity>
        <activity android:name=".History.Renaissance.RenaissanceQuestions">
        </activity>

        <!--sports category-->
        <!--
        <activity android:name=".Sports.SportsSubcategory">
        </activity>
        <activity android:name=".Sports.Football.FootballFinalPage">
        </activity>
        <activity android:name=".Sports.Football.FootballQuestions">
        </activity>
        <activity android:name=".Sports.Basketball.BasketballFinalPage">
        </activity>
        <activity android:name=".Sports.Basketball.BasketballQuestions">
        </activity>
        <activity android:name=".Sports.Baseball.BaseballFinalPage">
        </activity>
        <activity android:name=".Sports.Baseball.BaseballQuestions">
        </activity>
        <activity android:name=".Sports.Hockey.HockeyFinalPage">
        </activity>
        <activity android:name=".Sports.Hockey.HockeyQuestions">
        </activity>
        -->

        <!--menu screen(s)-->
        <activity
                android:name=".MenuScreen"
                android:label="Trivia HQ"
                tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:label="Trivia HQ Homepage">
        </activity>

    </application>

</manifest>